@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary-dark: #161a30;
  --text-primary-light: #f0ece5;
}
body {
  background-color: var(--bg-primary-dark);
  color: var(--text-primary-light);
}
